<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="About.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="Home.css">

</head>

<body>
    <header>
        <nav>
            <div class="left">Shagun's portfolio</div>
            <div class="right">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/About">About</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="https://www.facebook.com/shagun.katariya.988">Facebook</a></li>
                    <li><a href="https://www.linkedin.com/in/shagun-katariya-675953230/">linkedin</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <div id="background" class="background"></div>
        <div class="content">
            <div class="text" id="element"></div>
        </div>
    </div>

    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script>
        var typed = new Typed('#element', {
            strings: ['Hello, I am Shagun katariya, a dedicated and passionate web developer with a strong focus on creating engaging and user-friendly experiences.I have been working in the web development industry for 1 year. I am truly passionate about the art of coding and building dynamic websites that make a difference. My expertise lies in front-end development, where I craft pixel-perfect user interfaces using HTML, CSS, and JavaScript. I have a keen eye for design and a strong understanding of UI/UX principles, allowing me to create intuitive and visually appealing websites.'],
            typeSpeed: 10,
        });
    </script>

</body>



</html>