<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/blog.css">
    <title>Blog</title>
</head>

<body>
    <header>
        <nav>
            <div class="left">Shagun's portfolio</div>
            <div class="right">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/About">About</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="https://www.facebook.com/shagun.katariya.988">Facebook</a></li>
                    <li><a href="https://www.linkedin.com/in/shagun-katariya-675953230/">linkedin</a></li>
                </ul>
            </div>
        </nav>
    </header>


    <div class="content max-width-1 m-auto" style="margin-top: 112px;">
        <div class="content-left">
            <h1>The heaven for bloggers</h1>
            <p>iBlog is a website which lets you submit an article which upon approval will be
                up on our website and you can get a good amount of reach from here!
            </p>
            <p>
                My Halloween decorations are staying in the box this year. To be honest, they didn't make it out of the
                box last year either. My Halloween
                spirit ha officially been bludgeoned to death by teenagers who no longer care and a persistent October
                fear of the Northern California wildfires. And speaking of fear, isn't there more than enough of that
                going around? Maybe all of us can can pretend that Halloween isn't even happening this year?
            </p>
        </div>
        <div class="content-right">
            <img src="/images/blog.jpg" alt="">
        </div>
    </div>
    <div class="max-width-1 m-auto">
        <hr style="margin: 32px 0;">
    </div>
    <h1 style="margin-left: 130px; margin-bottom: 20px">Featured Articles</h2>
        <div class="home-articles max-width-1 m-auto font">
            <div class="home-article">
                <img src="/images/2.png" alt="article">
                <div class="home-article-content font">
                    <a href="/article1">
                        <h3>Lorem ipsum dolor sit, amet consectetur adipisicing.</h3>
                    </a>
                    <div>Author Name</div>
                    <span>22 Jan | 6 min read</span>
                </div>
            </div>
            <div class="home-article">
                <img src="/images/3.png" alt="article">
                <div class="home-article-content font">
                    <a href="/article2">
                        <h3>Lorem ipsum dolor sit, amet consectetur adipisicing.</h3>
                    </a>
                    <div>Author Name</div>
                    <span>22 Jan | 6 min read</span>
                </div>
            </div>
            <div class="home-article">
                <img src="/images/4.png" alt="article">
                <div class="home-article-content font">
                    <a href="/article3">
                        <h3>Lorem ipsum dolor sit, amet consectetur adipisicing.</h3>
                    </a>
                    <div>Author Name</div>
                    <span>22 Jan | 6 min read</span>
                </div>
            </div>
            <div class="home-article">
                <img src="/images/5.png" alt="article">
                <div class="home-article-content font">
                    <a href="/article4">
                        <h3>Lorem ipsum dolor sit, amet consectetur adipisicing.</h3>
                    </a>
                    <div>Author Name</div>
                    <span>22 Jan | 6 min read</span>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer">
                @ copyright: Shagun's Development
            </div>
        </footer>

</body>

</html>