<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="Home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <title>Shagun-Developer portfolio</title>
</head>

<body> 
    <header>
        <nav>
            <div class="left">Shagun's portfolio</div>
            <div class="right">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/About">About</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="https://www.facebook.com/shagun.katariya.988">Facebook</a></li>
                    <li><a href="https://www.linkedin.com/in/shagun-katariya-675953230/">linkedin</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="firstSection">
            <div class="leftSection">
                Hi, I'm <span class="purple">Shagun Katariya</span>
                <div>I am expert in</div>
                <span id="element"></span>
                <div class="buttons">
                    <a class="button" href="https://github.com/Shagun-katariya">Github</a>
                    <a class="button" href="https://github.com/Shagun-katariya">Resume</a>
                </div>
            </div>
            <div class="rightSection">
                <img src="/images/1.png" alt="">
            </div>
        </section>
        <hr>
        <section class="secondSection">
            <h1>Projects</h1>
            <div class="box">
                <div class="vertical">
                    <div class="vertical-title">
                        LearnEase
                        <p>(2022-23)</p>
                    </div>
                    <div class="vertical-desc">
                        LearnEase is an intuitive online learning platform that offers a wide range of courses to help individuals acquire new skills and knowledge in a user-friendly environment. With expert instructors and interactive resources, learning becomes easy and accessible for all.
                    </div>
                </div>
                <div class="vertical">
                    <div class="vertical-title">
                        Spotify Clone
                        <p>(2022-23)</p>
                    </div>
                    <div class="vertical-desc">
                        Spotify-Clone is a music streaming application that replicates the features and experience of Spotify, allowing users to enjoy a vast library of music and personalized playlists in a user-friendly interface.
                    </div>
                </div>
                <div class="vertical">
                    <div class="vertical-title">
                        ConnectX 
                        <p>(2022-23)</p>
                    </div>
                    <div class="vertical-desc">
                        ConnectX is a dynamic social media platform, that allows users to connect, share moments, and engage with a vibrant community through photos, videos, and stories in a visually appealing interface.
                    </div>
                </div>
                <div class="vertical">
                    <div class="vertical-title">
                        Task Manager
                        <p>(2022-23)</p>
                    </div>
                    <div class="vertical-desc">
                        Implemented object-oriented design principles and utilized design patterns to ensure clean and
                        maintainable code. Collaborated with cross-functional teams, conducted code reviews, and
                        optimized application performance for seamless deployment and operation.
                    </div>
                </div>
                <div class="vertical">
                    <div class="vertical-title">
                        Store-API
                        <p>(2022-23)</p>
                    </div>
                    <div class="vertical-desc">
                        Implemented data processing and analysis pipelines using libraries such as NumPy, Pandas, and
                        TensorFlow. Collaborated with teams to design and deploy solutions, ensuring code quality,
                        testing, and adherence to best practices.
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer">
            @ copyright: Shagun's Development
        </div>
    </footer>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script>
        var typed = new Typed('#element', {
            strings: ['Web Developement', 'DSA', 'C++', 'Javascript', 'NodeJS', 'ExpressJS', 'MongoDB'],
            typeSpeed: 80,
        });
    </script>
</body>

</html>